node_modules
backend/node_modules
backend/.env
brandy_bot_full_project_documentation.md
frontend/node_modules
frontend/.env
frontend/dist

notebook41b1fb4630.ipynb
brandibot-with-my-trained-model - Promt updated.ipynb
backend/public
backend/tests

ai-service/.env
Table_Structure.txt
docs/implementation_plan.md
nb_code.txt